@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 98%);

  --card: hsl(0, 0%, 3%);
  --card-foreground: hsl(0, 0%, 98%);

  --popover: hsl(0, 0%, 3%);
  --popover-foreground: hsl(0, 0%, 98%);

  --primary: hsl(54, 100%, 94%);
  --primary-foreground: hsl(0, 0%, 2%);

  --secondary: hsl(0, 0%, 6%);
  --secondary-foreground: hsl(0, 0%, 98%);

  --tertiary: hsl(147.1, 34.83%, 34.9%);
  --tertiary-foreground: hsl(150, 7.69%, 5.1%);

  --muted: hsl(0, 0%, 9%);
  --muted-foreground: hsl(0, 0%, 49%);

  --accent: hsl(0, 0%, 6%);
  --accent-foreground: hsl(0, 0%, 98%);

  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 98%);

  --border: hsl(0, 0%, 11%);
  --input: hsl(0, 0%, 16%);
  --ring: hsl(54, 100%, 40%);
  
  --radius: 0.5rem;

  /* gradient colors */
  --color-bg-1: rgb(100, 0, 162);
  --color-bg-2: rgb(0, 17, 82);
  --color-1: 18, 113, 255;
  --color-2: 221, 74, 255;
  --color-3: 100, 220, 255;
  --color-4: 200, 50, 50;
  --color-5: 180, 100, 50;
  --color-interactive: 140, 100, 255;
  --circle-size: 80%;
  --blending: hard-light;
}

.dark {
  --background: hsl(0, 0%, 0%);
  --foreground: hsl(0, 0%, 98%);

  --card: hsl(0, 0%, 3%);
  --card-foreground: hsl(0, 0%, 98%);

  --popover: hsl(0, 0%, 3%);
  --popover-foreground: hsl(0, 0%, 98%);

  --primary: hsl(54, 100%, 94%);
  --primary-foreground: hsl(0, 0%, 2%);

  --secondary: hsl(0, 0%, 6%);
  --secondary-foreground: hsl(0, 0%, 98%);

  --tertiary: hsl(147.1, 34.83%, 34.9%);
  --tertiary-foreground: hsl(150, 7.69%, 5.1%);

  --muted: hsl(0, 0%, 9%);
  --muted-foreground: hsl(0, 0%, 49%);

  --accent: hsl(0, 0%, 6%);
  --accent-foreground: hsl(0, 0%, 98%);

  --destructive: hsl(0, 84%, 60%);
  --destructive-foreground: hsl(0, 0%, 98%);

  --border: hsl(0, 0%, 11%);
  --input: hsl(0, 0%, 16%);
  --ring: hsl(54, 100%, 40%);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-card: var(--card);
	--color-card-foreground: var(--card-foreground);
	--color-popover: var(--popover);
	--color-popover-foreground: var(--popover-foreground);
	--color-primary: var(--primary);
	--color-primary-foreground: var(--primary-foreground);
	--color-secondary: var(--secondary);
	--color-secondary-foreground: var(--secondary-foreground);
  --color-tertiary: var(--tertiary);
	--color-tertiary-foreground: var(--tertiary-foreground);
	--color-muted: var(--muted);
	--color-muted-foreground: var(--muted-foreground);
	--color-accent: var(--accent);
	--color-accent-foreground: var(--accent-foreground);
	--color-destructive: var(--destructive);
	--color-destructive-foreground: var(--destructive-foreground);
	--color-border: var(--border);
	--color-input: var(--input);
	--color-ring: var(--ring);
	--color-chart-1: var(--chart-1);
	--color-chart-2: var(--chart-2);
	--color-chart-3: var(--chart-3);
	--color-chart-4: var(--chart-4);
	--color-chart-5: var(--chart-5);
	--radius-sm: calc(var(--radius) - 4px);
	--radius-md: calc(var(--radius) - 2px);
	--radius-lg: var(--radius);
	--radius-xl: calc(var(--radius) + 4px);
  
  --font-default: var(--font-ppmori);
}

@layer base {
	* {
		@apply border-border outline-ring/50;
	}
	body {
		@apply bg-background text-foreground;
	}

  .container {
    @apply px-3 md:px-4 lg:px-6 xl:px-8 mx-auto inset-x-0 w-full;
  }

  body::before {
    position: absolute;
    left: 0;
    top: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 9999; 
    pointer-events: none;
    opacity: 15%;
    background: #000;
    filter: url(#noiseFilter);
  }

  html {
    @apply font-default;
  }
}
